extends layout

block content
  input#sessionToken(type='hidden', value='#{sessionToken}')
  input#token(type='hidden', value='#{token}')
  form#exam(method='post', action='/#{sessionToken}/#{token}/result', v-show='ready', style='display:none')
    input#answersSoFar(type='hidden', v-model='answersSoFar', name='answers')
    .meta
      h4.col-md-10.name
        span=assessment.firstName
        span=assessment.lastName
      .col-md-2.info
        span(v-text='currentIndex')
        span='/'
        span(v-text='noOfQuestions')
    .col-md-12
      h4='Question'
      .question(v-html='question.text')

      h4='Options'
      .options
        ul
          li.form-group(v-repeat='question.answers')
            input(name='answer', v-attr='id:id | append answer, type: type', v-on='change: updateAnswer(this)', v-model='isAnswer')
            label(v-text='text', v-attr='for:id | append answer')

      .actions
        button.btn.btn-default(type='button', v-show='!isFirst', v-on='click: previous')='Previous'
        button.btn.btn-default(type='button', v-show='!isLast', v-on='click: next', v-text='buttonText')='Next'
        button.btn.btn-default(type='submit', v-show='isLast')='Submit'

block vars
    - var pageName = 'assessment'
