extends layout

block content
  main#content
    .container
      .bs.jumbotron
        h1='Hi,'
        p='Welcome to the Assessment tool. Enter your assessment token (shared through email) in the text box below and click start to begin the assessment.'

        form#assessment(action='/', method='get', v-on='submit: start(this, $event)')
          input.form-control(type='text', maxlength='9', data-parsley-required='true', autocomplete='off', data-parsley-minlength='9', v-model='token')
          button.btn.btn-primary(type='submit')='Start'

block vars
    - var pageName = 'home'
