extends layout

block content
  .row
    .col-md-4.col-md-offset-4
      form(action='/login', method='post')
        h4='Login'
        .form-group
          label(for='email')='Email address'
          input.form-control(type='text', name='email')
        .form-group
          label(for='password')='Password'
          input.form-control(type='password', name='password')
        button.submit.form-control(type='submit')='Submit'

block vars
    - var pageName = 'login'
