extends layout

block content
  .modal.fade#question
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(data-dismiss='modal', type='button')='×'
          h4.modal-title='{{mode}} Question'
        .modal-body
          form#questionForm.form-horizontal(v-on='submit: saveQuestion(this, $event)')
            h5='Question'
            .well.text(contenteditable='true', v-model='question.text', v-focus='text', data-parsley-required='true')='{{question.text}}'
            h5='Answers'
            ul
              li(v-repeat='answers')
                .form-group
                  .actions
                    a.action.mark(v-on='click: toggleAnswer(this)')
                      i.fa(v-class='fa-check-square-o: isAnswer, fa-square-o: !isAnswer')
                    a.action.delete(v-on='click: deleteAnswer(this)')
                      i.fa.fa-times
                  .field
                    input.col-sm-12.form-control(type='text', value='{{text}}', v-model='text', v-on='change: updateAnswer(this)', v-focus='text', data-parsley-required='true')
            h5='Reason for answer'
            .well.text(contenteditable='true', v-model='question.reason')='{{question.reason}}'
            .actions
              a.add(v-on='click: addAnswer(this)')
                i.fa.fa-plus.fa-3
                span=' Add answer'
            .dialog-actions
              button.submit.form-control='Save'


  div#questions(v-show='ready', style='display:none')
    h4='{{title}}'
    ul.list-group
      li.list-group-item(v-repeat='questions')
        .question
          .actions
            a.edit(v-on='click: editQuestion(this)', title='Edit')
              i.fa.fa-pencil
            a.delete(v-on='click: deleteQuestion(this)', title='Delete')
              i.fa.fa-times
          .text(v-html='text')
    .actions
      a(v-on='click: addQuestion(this)')
        l.fa.fa-pencil-square
        span=' Add question'

block vars
    - var pageName = 'questions'
