extends layout

block content
  input#sessionToken(type='hidden', value='#{sessionToken}')
  input#token(type='hidden', value='#{token}')
  div.score
    h4='Your Score'
    dl
      dt='Name'
      dd=assessment.firstName + ' ' + assessment.lastName
      dt='Email'
      dd=assessment.email
      dt='Score'
      dd=score

  div.how-to-read
    p
      span='All the wrong answers appear in '
      span.red='RED '
      span='and the correct ones in '
      span.green='GREEN. '
      span='The answer with reasoning is given at the end of each question'

  #results(v-show='loaded', style='display: none')
    ul.list-group.question(v-repeat='result')
      li.list-group-item
        h4='{{$index | userFriendlyIndex}}. Question:'
        .text(v-html='text')
        .answers
          h5='Answers:'
          ul.answer
            li(v-repeat='answers')
              div(v-attr='class: type' v-html='text')
        .reason
          h5='Reason:'
          .text(v-html='reason')

block vars
    - var pageName = 'result'
