extends layout

block content
  .modal.fade#session
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(data-dismiss='modal', type='button')='×'
          h4.modal-title='{{mode}} Session'
        .modal-body
          form.form-horizontal#sessionForm(v-on='submit: save(this, $event)')
            .col-md-12
              .form-group
                label(for='name')='Name'
                input.form-control(v-focus='name', type='text', name='name', id='name', v-model='name', data-parsley-required='true', autocomplete='off')
            .col-md-6
              .form-group
                label(for='noOfQuestions')='No Of Questions'
                input.form-control(type='text', name='noOfQuestions', id='noOfQuestions', v-model='noOfQuestions', data-parsley-required='true', data-parsley-type='integer', autocomplete='off')
            .col-md-6
              .form-group
                label(for='startDate')='Duration (in minutes)'
                input.form-control(type='text', name='duration', id='duration', v-model='duration', data-parsley-required='true', data-parsley-type='integer', autocomplete='off')
            .date-range
              .col-md-6.start-date
                .form-group
                  .col-md-6
                    label(for='startDate')='Start Date'
                    input.date.start.form-control(type='text', name='startDate', id='startDate', v-model='startDate | date', data-parsley-required='true', autocomplete='off')
                    span.add-on
                      i.icon-th
                  .col-md-6.hidden-xs
                    label(for='startDate')='Time'
                    input.time.start.form-control(type='text', name='startTime', id='starTime', v-model='startTime | time', autocomplete='off')
              .col-md-6.end-date
                .form-group
                  .col-md-6
                    label(for='endDate')='End Date'
                    input.date.end.form-control(type='text', name='endDate', id='endDate', v-model='endDate | date', data-parsley-required='true', autocomplete='off')
                  .col-md-6.hidden-xs
                    label(for='endDate')='Time'
                    input.time.end.form-control(type='text', name='endTime', id='endTime', v-model='endTime | time', autocomplete='off')
            .dialog-actions
              .col-md-12
                button.submit.form-control='Save'

  div#sessions(v-show='ready', style='display: none')
    h4='{{title}}'
    table.table.session
      thead
        tr
          th.hidden-xs='Name'
          th='Token'
          th='Questions'
          th='Duration'
          th.hidden-xs='Start Date'
          th.hidden-xs='End Date'
          th=''
      tbody
        tr(v-repeat='sessions')
          td.hidden-xs(v-text='name')
          td(v-text='token')
          td(v-text='noOfQuestions')
          td(v-text='duration')
          td.hidden-xs(v-html='startDate | dateTime')
          td.hidden-xs(v-html='endDate | dateTime')
          td.actions
            a.edit(v-on='click: editSession(this)', title='Edit')
              i.fa.fa-pencil
            a.delete(v-on='click: deleteSession(this)', title='Delete')
              i.fa.fa-times
    .actions
      a(v-on='click: addSession(this)')
        l.fa.fa-pencil-square
        span=' Add Session'

block vars
    - var pageName = 'sessions'
