.options {
  label {
    font-weight: normal;
    padding-left: 5px;
  }
}

.meta {
  span {
    padding-right: 5px;
  }
}

.actions {
  text-align: right;

  button {
    margin-left: 5px;
  }
}

.score {
  overflow: auto;
  dl {
    dt, dd{
      float: left;
      display: inline-block;
      padding-right: 5px;
    }
    dt {
      clear: both;
      &:after {
        content: ':';
      }
    }
  }
}

#results {
  clear: both;
  padding-top: 20px;

  .answer {
    .correct {
      color: green;
    }

    .wrong {
      color: red;
    }

    .correct, .wrong {
      font-weight: bold;
    }
  }
}

.how-to-read {

  .red,.green {
    font-weight: bold;
  }

  .red {
    color: red;
  }

  .green {
    color: green;
  }
}
