#questions, #question, #sessions {
  .actions {
    text-align: center;
    clear: both;
  }
}
.question, .session {
  .actions {
    a {
      cursor: pointer;
      padding-right: 5px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.question {
  .actions {
    float: right;
  }
}

#question, #session {
  .form-group {
    @width: 50px;

    padding:0px 15px;

    .field {
      padding-right: @width;
    }
    .action {
      padding-left: 7px;
      width: 20px;
      display: inline-block;
    }
    .actions {
      padding-left: 5px;
      padding-top: 5px;
      width: @width;
      float: right;
    }
  }
}
